In [41]:
# 引入 pandas 套件，使用別名 pd 可以少打字
import pandas as pd

# 建立 Series 物件，傳入 list 當作參數
series_1 = pd.Series([22, 34, 41, 3])

print(series_1[0])
print(series_1[1:3])

# 建立 Series 物件並設定 index 索引
grades = pd.Series([60, 27, 72, 53], index=['小郭', '小王', '小華', '小明'])

print(grades['小王'])

def test():
    df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
    df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                        'value': [5, 6, 7, 8]})
    return df1.join(df2, lsuffix='_caller', rsuffix='_other')


test()

22
1    34
2    41
dtype: int64
27

  lkey  value_caller rkey  value_other
0  foo             1  foo            5
1  bar             2  bar            6
2  baz             3  baz            7
3  foo             5  foo            8